# AI Chatbot API Keys
GEMINI_API_KEY=AIzaSyBcS-oHl4yCl0rr3JOhFvBJmytgvrDny0M
SUPABASE_URL=https://mxzdolmzroiiuctbqxae.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14emRvbG16cm9paXVjdGJxeGFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MzIzMDQsImV4cCI6MjA4ODMwODMwNH0.wDEF0V4lh5VpoBKTrOG1-B2w0chl4RrpC4ytHGUPBb4
